body{
    text-align: center;
}
h1{
    font-weight: bold;
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: 35px;
}
#quote{
    width: 70%;
    margin: auto;
}
button{
    color: #fff;
    background-color: #0000ff;
    padding: 30px 90px;
    margin-bottom: 40px;
}
button:hover{
    background-color: #080;
    transition: all .3s ease;
}